@media screen and (max-width:767px) {
    #banner h1{
        font-size: 35px;
    }
    #banner img{
        width: 215px;
        position: absolute;
        right: 40px;
        top: 269px;
    }
    #banner form button{
        right: 20px;
    }
    form{
        width: 369px;;
    }
    form input{
        width: 316px;
    }
    #design .icon{
        margin-top: 20px;
    }
    #design h2 {
        margin-top: 20px;
    }
    #sofa h1 {
        font-size: 19px;
        line-height: 27px;
    }
    #sofa .sofa_light {
        width: 956px;
        height: 333px;
    }
    #table .table_button {
        margin-left: auto;
    }
    .nav_img_2 {
        position: relative;
        /* top: -92px; */
        left: 321px;
        width: 45px;
    }
    .nav_img_1 {
        width: 16px;
        height: 16px;
        position: absolute;
        right: 15px;
    }
    footer h2{
        font-size: 33px;
        margin-left: 0;
    }
    #banner .banner_vactor {
        width: 40px;
        height: 40px;
        left: -9px;
        top: -126px;
        border-radius: 50px;
        position: relative;
        background: rgba(196, 196, 196, 0.5);
        border: 1px solid #FFFFFF;
    }
    #banner .banner_vactor .vactor {
        position: absolute;
        top: 15px;
        top: 15x;
        right: 15px;
        width: 10px;
    }
    #banner .banner_img {
        top: 10px;
        right: 8px;
        width: 28px;
        
    }
    #banner .banner_vactor_2 {
        width: 40px;
        height: 40px;
        left: 310px;
        top: 15px;
        border-radius: 50px;
        position: relative;
        background: rgba(196, 196, 196, 0.5);
        border: 1px solid #FFFFFF;
    }
    #banner .banner_vactor_2 .vactor_1 {
        position: absolute;
        top: 15px;
        top: 15x;
        right: 15px;
        width: 10px;
    }
    #sofa .sofa_vactor {
        width: 40px;
        height: 40px;
        left: 15px;
        top: -87px;
        border-radius: 50px;
        position: relative;
        background: rgba(196, 196, 196, 0.5);
        border: 1px solid #FFFFFF;
    }
    .sofa_vactor-1 {
        width: 40px;
        height: 40px;
        left: 45px;
        top: -168px;
        border-radius: 50px;
        position: relative;
        background: rgba(196, 196, 196, 0.5);
        border: 1px solid #FFFFFF;
    }
    .sofa_vactor-2 {
        width: 40px;
        height: 40px;
        left: 95px;
        top: -160px;
        border-radius: 50px;
        position: relative;
        background: rgba(196, 196, 196, 0.5);
        border: 1px solid #FFFFFF;
    }
    .sofa_vactor-3 {
        width: 40px;
        height: 40px;
        /* left: 529px; */
        left: 80px;
        top: -387px;
        border-radius: 50px;
        position: relative;
        background: rgba(196, 196, 196, 0.5);
        border: 1px solid #FFFFFF;
    }
}
